html,
body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.app-layout {
  display: flex;
  width: 100%;
  height: 100%;
}

#terminal-container {
  flex: 1 1 auto;
  min-width: 0;
  height: 100%;
}

#button-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 5px;
}

#button-container button {
    user-select: none;
}

#button-container button.config-on {
  background: #e6eefc;
  font-weight: bold;
  border: 2px inset;
  margin-bottom: 12px;
}

#button-container button.config-off {
  background: #e6eefc;
  margin-bottom: 12px;
}

#button-container button.pf-group-first {
    margin-top: 12px;
}

#button-container button.pf-group-other {
}

.button-dialog {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);

  background: white;
  color: black;

  padding: 12px;
  border: 1px solid #888;
  border-radius: 4px;

  z-index: 1000;
}

.button-dialog label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 4px;
}

.button-dialog .save-cancel-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 15px;
}

